
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
html,body,#root{height:100%}
body{margin:0;background:#f6fbf9}
a{color:inherit;text-decoration:none}
nav a{color:#0b4f3a}
